.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  color: rgb(15, 253, 3);
}
.sub-header {
  font-size: 15px;
}